<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hello Controller</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>
<body>
<header class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/">Music Store</a>
</header>
<div class="container">

    <div class="card">
        <div class="card-body">
            <form class="input-group" th:action="@{/search/(search='search')}">
                <input class="form-control" placeholder="search for tracks, artists, albums, and genres" type="text" th:name="search" required minlength="4"/>
                <input class="btn btn-primary" type="submit" value="search"/>
            </form>
        </div>
    </div>

    <div class="card" >
        <div class="card-body">
            <h5 class="card-title">5 Artists:</h5>
            <ul class="list-group">
                <li class="list-group-item" th:each="artist : ${artists}" th:text="${ artist.getName() }"></li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">5 Genres:</h5>
            <ul class="list-group">
                <li class="list-group-item" th:each="genre : ${genres}" th:text="${genre.getName()}"></li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">5 tracks:</h5>
            <ul class="list-group">
                <li class="list-group-item" th:each="track : ${tracks}" th:text="'🎧' + ${track.getName()}  + ' 🎙' + ${track.getArtistName()}"></li>
            </ul>
        </div>
    </div>



</div>
<footer>
    Copyright © 2020 <del>Apple</del> Pear Inc. All rights reserved.
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>