<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hello Controller</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}">
</head>
<body>
<header class="navbar navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="/">Music Store</a>
</header>
<div class="container">


    <h5 th:text="'you searched for: ' +${term}"></h5>

    <div class="card" th:if="${foundNothing}">
        <div  class="card-body">
            <p th:if="${albums.size()} == 0"> No albums met your search</p>
            <p th:if="${artists.size()} == 0"> No artists met your search</p>
            <p th:if="${genres.size()} == 0"> No genres met your search</p>
            <p th:if="${tracks.size()} == 0"> No tracks met your search</p>
        </div>
    </div>

    <div class="card" th:if="${albums.size()} > 0">
        <div class="card-body">
            <h5 class="card-title"> Albums found:</h5>
            <table class="table" >
                <thead>
                    <tr>
                        <th scope="col">💿 albums</th>
                        <th scope="col">🎙 artist</th>
                    </tr>
                </thead>
                <tr th:each="album : ${albums}">
                    <td scope="row" th:text="${album.getTitle()}"></td>
                    <td th:text="${album.getArtistName()}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card" th:if="${artists.size()} > 0">
        <div class="card-body">
            <h5 class="card-title">Artists found:</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> 🎙 Artist</th>
                    </tr>
                </thead>
                <tr th:each="artist : ${artists}">
                    <td scope="row" th:text="${artist.getName()}"> </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card" th:if="${genres.size()} > 0">
        <div class="card-body">
            <h5 class="card-title">Genres found:</h5>
            <table class="table">
                <thead>
                    <tr> <th scope="col"> 🎶Genre </th> </tr>
                </thead>
                <tr th:each="genre : ${genres}" ><td scope="row" th:text="${genre.getName()}" ></td></tr>
            </table>
        </div>
    </div>

    <div class="card" th:if="${tracks.size()} > 0">
        <div class="card-body">
            <h5 class="card-title">Tracks titles found:</h5>
            <table class="table" >
                <thead>
                    <tr ><th scope="col">🎧 Track </th> <th scope="col">💿 Album</th> <th scope="col">🎙 Artist</th> <th scope="col">Genre</th></tr>
                </thead>

                <tr th:each="track : ${tracks} "  >
                    <td scope="row" th:text="${track.getName()}"></td>
                    <td th:text="${track.getAlbumTitle()}"></td>
                    <td th:text="${track.getArtistName()}"></td>
                    <td th:text="${track.getGenreName()}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<footer>
    Copyright © 2020 <del>Apple</del> Pear Inc. All rights reserved.
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>